{include file="common/header"/}

<div class="top-bar">我的油卡</div>
<div class="mt50"></div>

<div class="carpet" style="color:#00afec">
    {foreach name='list' item='vo'}
    <div class="one-from-two">{$vo.number}<br>¥{$vo.cash}</div>
    {/foreach}
</div>

<div class="carpet">
    <h4>加油记录：<a href="{:url('acount/acountList')}" class="fr">查看详细</a></h4>
    <div class="top-line">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>金额</th>
                <th>类型</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
	    </tbody>
        </table>
    </div>
{include file="common/menu"/}
{include file="common/footer"/}
