{include file="common/header"/}
<div class='layout bg-orange user-top'>
    <img src='/static/theme/img/headimg.png'>
    <h5 class='text-center text-muted'>我的昵称</h5>
</div>
<div class='layout'>
    <div class='user-line text-muted'>
	<span class="text-primary fa fa-list-ul" aria-hidden="true"></span>
	　加油记录
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
    </div>
</div>
<div class='layout'>
    <div class='user-line text-muted'>
	<span class="text-warning fa fa-automobile" aria-hidden="true"></span>
	　车辆信息
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </div>
    <div class='user-line text-muted'>
	<span class="text-orange fa fa-suitcase" aria-hidden="true"></span>
	　我的钱包
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </div>
    <div class='user-line text-muted'>
	<span class="text-success fa fa-credit-card-alt" aria-hidden="true"></span>
	　我的卡劵
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </div>
    <div class='user-line text-muted'>
	<span class="text-primary fa fa-database" aria-hidden="true"></span>
	　我的积分
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </div>
    <div class='user-line text-muted'>
	<span class="text-success fa fa-commenting-o" aria-hidden="true"></span>
	　客服中心
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </div>
    <a href="/" class='d-none user-line text-muted'>
	<span class="text-danger fa fa-power-off" aria-hidden="true"></span>
	　退出
	<span class="float-right fa fa-chevron-right" aria-hidden="true"></span>
	<hr>
    </a>
</div>
{include file="common/menu"/}
{include file="common/footer"/}
