<div style="height:60px;"></div>
<nav class="bottom-menu navbar fixed-bottom navbar-light bg-white">
    <a class="navbar-brand {eq name='title' value='首页'}active{/eq}" href="/"><span class="fa fa-th-large"></span><br>首页</a>
    <a class="navbar-brand {eq name='title' value='加油'}active{/eq}" href="{:url('index/map')}"><span class="fa fa-beer"></span><br>加油</a>
    <a class="navbar-brand {eq name='title' value='我的'}active{/eq}" href="{:url('index/user')}"><span class="fa fa-user"></span><br>我的</a>
</nav>
